*{
    background-color: pink;
}
.cardcont{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
  background-color: transparent;
  width: 300px;
  height: 50%;
  perspective: 1000px;
  
}
.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: rgb(180, 180, 180);
    color: white;
    
}
.cardcont:hover .card {
    transform: rotateX(180deg);
}
.title{
    position: relative;
    text-align: center;
    font-size: large;
    padding: 2%;
    margin-top: 20%;
    background-color: rgb(180, 180, 180);

}
.content{
    position: relative;
    width: 80%;
    margin: 5% 10% 2% 10%;
    text-align: center;
    background-color: rgb(180, 180, 180);
}

.back button{
    background-color: rgb(108, 159, 255);
    outline: none;
    border:none;
    padding: 4%;
    color:white;
    width: 35%;
    margin-top: 5%;
    border-radius: 5px;
    margin-left: 32%;
}